{{- if .Values.opa.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "a2a-server.fullname" . }}-opa-policies
  labels:
    {{- include "a2a-server.labels" . | nindent 4 }}
data:
  data.json: |-
{{ .Files.Get "policies/data.json" | indent 4 }}
  authz.rego: |-
{{ .Files.Get "policies/authz.rego" | indent 4 }}
  api_keys.rego: |-
{{ .Files.Get "policies/api_keys.rego" | indent 4 }}
  tenants.rego: |-
{{ .Files.Get "policies/tenants.rego" | indent 4 }}
{{- end }}
