{{- if .Values.opa.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "a2a-server.fullname" . }}-opa-policies
  labels:
    {{- include "a2a-server.labels" . | nindent 4 }}
data:
  data.json: |-
{{ dig "policies" "dataJson" "{}" .Values.opa | indent 4 }}
  authz.rego: |-
{{ dig "policies" "authzRego" "package authz\ndefault allow := false" .Values.opa | indent 4 }}
  api_keys.rego: |-
{{ dig "policies" "apiKeysRego" "package api_keys\ndefault allow := true" .Values.opa | indent 4 }}
  tenants.rego: |-
{{ dig "policies" "tenantsRego" "package tenants\ndefault allow := true" .Values.opa | indent 4 }}
{{- end }}
