apiVersion: v1
kind: Service
metadata:
  name: {{ include "codetether-tenant.fullname" . }}-svc
  namespace: {{ include "codetether-tenant.namespace" . }}
  labels:
    {{- include "codetether-tenant.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "codetether-tenant.selectorLabels" . | nindent 4 }}
